body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-area {
    display: flex;
    padding: 10px 100px;
    background-color: orange;
    justify-content: center;
}

.header-content {
    flex-grow: 1;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
}

.header-content h1 {
    max-width: fit-content;
    color: #F9FAF8;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.header-navigation {
    max-width: fit-content;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-area {
    background-color: orange;
    display: flex;
    justify-content: center;
}

.hero-content {
    flex-grow: 1;
    max-width: 1050px;
    background-color: orange;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.hero-content img {
    width: 312px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 24px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 800px;
    margin: 0;
    padding: 0;
}

.hero-text button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: 700;
    border-style: none;
}

.hero-text p {
    font-size: 18px;
}

.information {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 24px;
}

.cat-area {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.cat-area img {
    border-radius: 8px;
    height: 200px;
    max-width: 200px;
}

.cat-content {
    font-size: 12px;
    font-style: italic;
    max-width: 200px;
    text-align: center;
}

.quote-area {
    background-color:  #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    max-width: 1050px;
    margin: 100px;
}

.quote-text{
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
}

.quote-attribute {
    font-size: 18px;
    font-weight: 800;
}

.call-area {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.call-content {
    border-radius: 8px;
    background: #3882F6;
    padding: 2% 10%;
    display: flex;
    gap: 100px;
    align-items: center;
}

.call-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.call-content button {
    background-color: #3882F6;
    border-color: white;
    border-radius: 8px;
    color: white;
    border-style:solid;
    padding: 10px 24px;
}

.footer-area {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
}